/* GENERICS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

section {
    padding-left: 20px;
    padding-right: 20px;
}

/* UTILITY */

:root {
    /* header */
    --upgrade-button-txt-color: #ffffff;


    /* MAIN CONTENT */
    --mcontent-bg: #141922;
    --section-titles-txt-color: #ffffff;
    --section-subtitle-txt-color: #7a7d81;
    --item-titles-txt-color: #ffffff;
    --item-subtitle-txt-color: #7a7d81;

    /* SECTION SELECTOR */
    --section-selector-txt-color: #8e9094;
    --section-selector-hover-color: #ffffff;
    --section-selector-active-color: #caff31;

    /* SIDEBAR */
    --sidebar-bg-color: #000000;
    --sidebar-txt-color: #7a7d81;
    --sidebar-txt-hover-color: #ffffff;
    --sidebar-hover-border-color: #baff32;
    --profile-name-color: #ffffff;
    /* FOOTER */
    --footer-bg-color: #282828;
    --leftbar-btn-color: #8e9094;
    --leftbar-btn-hover-color: #baff32;

    --time-bar-color: #8e9094;
    --time-played-bar-color: #ffffff;
    --time-played-bar-color-hover: #baff32;

    --max-volume-bar-color: #8e9094;
    --actual-volume-bar-color: #ffffff;
    --right-bar-buttons-color: #ffffff;
    --actual-volume-bar-hover-color: #baff32;
    --actual-volume-bar-hover-color: #baff32;
}

.wrapper {
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.xs-screen-hidden {}


/* SPACING UTILITY */
.margin-bot-30 {
    margin-bottom: 30px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}


/* MAIN CONTAINER */

/* .main-container {
    flex-grow: 1;
    background-color: var(--mcontent-bg);
    overflow-y: auto;

} */



/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 10px;

    height: 80px;
    position: sticky;
    top: 0;

    background-color: #00000033;
}



header .upgrade-button {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: var(--upgrade-button-txt-color);

    border: 1px solid var(--upgrade-button-txt-color);
    border-radius: 30px;

    padding: 10px 30px;
    margin-right: 5px;
}


/* HEADER HOVER EFFECTS */


header .upgrade-button:hover {
    transform: scale(1.1);
}


/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    background-color: var(--sidebar-bg-color);
    /* z-index: 1; */
    color: var(--sidebar-txt-color);
    overflow: hidden;

}



/* SIDEBAR LOGO */


.sidebar .logo {
    width: 70%;
    height: 80px;
    line-height: 80px;
    padding: 10px 20px;
    cursor: pointer;
}



/* SIDE MENU */



.side-menu .top-menu-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}


.side-menu .top-menu-icon {

    height: 35px;
    width: 20%;
}

.side-menu .top-menu-icon img {
    height: 80%
}

.side-menu .top-menu-item-txt {
    font-size: 0.8rem;
    font-weight: bold;
}

/* TOP SIDE MENU HOVER EFFECTS */

.side-menu .top-menu-item:hover {
    color: var(--sidebar-txt-hover-color);
    border-left: 3px solid var(--sidebar-hover-border-color);

}

/* PLAYLIST MENU */
.playlist-menu {
    cursor: pointer;
    padding-left: 20px;
}

.playlist-menu h3 {
    font-size: 0.9rem;
    color: var(--item-titles-txt-color);

}

.playlist-menu .new-playlist {
    height: 50px;
    display: flex;
    align-items: center;

}

.playlist-menu .new-playlist figure {
    margin-right: 10px;
}


.playlist-menu a {
    color: var(--sidebar-txt-color);
}

.playlist-menu .playlist-item {
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 0.8rem;
}

/*  PLAYLIST HOVER EFFECT */
.playlist-menu .new-playlist:hover {
    color: var(--sidebar-txt-hover-color);
}

.playlist-menu .playlist-item:hover {
    color: var(--sidebar-txt-hover-color);
}


/* SIDE-BOTTOM_MENU */
.side-bottom-menu {
    padding-left: 20px;
}

.side-bottom-menu hr {
    margin-right: 20px;
}

/* DOWNLOAD APP  */

.side-bottom-menu .installation-link {
    color: var(--sidebar-txt-color);
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;

}

.side-bottom-menu #dowload-img {
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    margin-right: 10px;
}

/* SIDE BOTTOM MENU HOVER EFFECTS */
.side-bottom-menu .installation-link:hover {
    color: var(--sidebar-txt-hover-color);
}





/* PROFILE  */

.side-bottom-menu .profile {
    display: flex;
    align-items: center;
    color: var(--profile-name-color);
}

.side-bottom-menu .profile-frame {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #7a7d81;
    overflow: hidden;
}

.side-bottom-menu #profile-img {

    object-fit: cover;
}

/* MAIN CONTENT */

.main-container {
    height: 100%;
    background-color: var(--mcontent-bg);
    overflow-y: auto;
}

/* SECTION SELECTOR BAR  */
.section-selector {
    /* ELIMINAMI */
    /* height: 60px; */
}

.section-selector .section-list {
    height: 60px;
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}


.section-selector a {
    font-weight: bold;
    font-size: 0.8rem;
    color: var(--section-selector-txt-color);
}

.section-selector .selected-section {
    width: 30%;
    margin: auto;
    color: var(--section-selector-active-color)
}

/* SECTION SELECTOR HOVER EFFECT */

.section-selector .section-list-item a:hover {
    color: var(--section-selector-hover-color);
}



/* MAIN SECTIONS */

/* GENERIC SECTIONS */

.main-container .section-title {
    margin-bottom: 10px;
}

.main-container .section-subtitle {
    display: block;
    color: var(--section-subtitle-txt-color);
    font-weight: bold;
    font-size: 00.8rem;
    margin-bottom: 15px;
}

.main-container section .row {
    margin: 0 -5px;
}

.main-container section .col {
    width: calc(100%/6);
    padding: 10px 5px;

}

.main-container section .item {
    margin: 0 auto;
    flex-shrink: 0.5;
}

/* SECTION ITEMS DETAILS */

.main-container section .album-img-frame {
    position: relative;
    transition: 0.5s ease;


}

.main-container section .item .album-img {
    width: 100%;
}


/* ALBUM TEXT */
.main-container section .album-txt {
    text-align: center;
}

.main-container section .album-txt .album-title {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.main-container section .album-txt span {
    color: var(--item-subtitle-txt-color);
    font-weight: bold;
    font-size: 0.8rem;

}

/*SECTIONS ITEMS HOVER EFFECT */

.main-container section .item:hover .album-img-frame {
    transform: translatey(-10px) scale(1.05);
}

.main-container section .item:hover .album-img-frame::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000043;

}

.main-container section .item:hover .album-img-frame::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    content: '\f144';
    font: var(--fa-font-regular);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;

}

/* SPECIAL SECTION ITEM DETAILS */

/* .main-container #most-popular-artist .album-img-frame {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.main-container #most-popular-artist .album-img-frame .album-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
} */



/* FOOTER */
footer {
    height: 100px;
    background-color: var(--footer-bg-color);
    padding: 10px 10px;


}

footer .player-bar {
    width: 100%;
    justify-content: space-between;
    flex-wrap: nowrap;
}

footer .col {
    width: calc(100%/3);
}


/* LEFT SIDE FOOTER */

footer .left-player-bar {
    /* background-color: #baff32; */
    display: flex;
    justify-content: flex-start;

    padding-right: 15px;
}


footer .left-player-bar .album-miniature {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

footer .left-player-bar .current-playing-utility {

    line-height: 60px;
}

footer .left-player-bar a {
    color: var(--leftbar-btn-color);

}

footer .left-player-bar .add-library-btn {
    margin-left: 10px;
}

footer .left-player-bar .album-miniature-img {
    margin-right: 10px;
    width: 60px;
    height: 60px;

}

footer .left-player-bar .album-miniature-txt {
    font-size: 0.8rem;
    font-weight: bold;
}

footer .album-miniature-txt span {
    color: var(--item-subtitle-txt-color);
    font-size: 0.7rem;

}

footer .left-player-bar img {
    width: 100%
}

/* MIDDLE FOOTER */
footer .middle-player-bar {}

footer .middle-player-bar .player-commands {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    margin-bottom: 5px;


}

footer .middle-player-bar .player-commands button {
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    border: none;
    color: white;

}

footer .middle-player-bar .player-commands #play-btn {
    font-size: 30px;
}

footer .middle-player-bar .current-playing-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
}

footer .middle-player-bar #time-bar {
    cursor: pointer;
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--time-bar-color);
    height: 3px;
    min-width: 50%;
    flex-grow: 1;

}

footer .middle-player-bar .current-playing-time #time-played-bar {
    height: 100%;
    border-radius: 3px;
    background-color: var(--time-played-bar-color);
    width: 20%;
}

/* RIGHT SIDE FOOTER */
footer .right-player-bar button {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--right-bar-buttons-color);

    font-size: 12px;
    margin-left: 15px;
}

footer .right-player-bar .right-commands {
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
}

footer .right-player-bar #max-volume {
    cursor: pointer;
    height: 3px;
    width: 90px;
    border-radius: 3px;
    background-color: var(--max-volume-bar-color);
    margin-left: 5px;
}

footer .right-player-bar #actual-volume {
    border-radius: 3px;
    width: 30%;
    height: 100%;
    background-color: var(--actual-volume-bar-color);
}

/* FOOTER HOVER EFFECTS */
footer .left-player-bar a:hover {
    color: var(--leftbar-btn-hover-color);

}

footer .middle-player-bar button:hover {
    transform: scale(1.05);
}

footer .middle-player-bar .current-playing-time:hover #time-played-bar {
    background-color: var(--time-played-bar-color-hover);
}

footer .right-player-bar #max-volume:hover #actual-volume {
    background-color: var(--actual-volume-bar-hover-color);
}