/* GENERICS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* UTILITY */

:root {
    /* header */
    --upgrade-button-txt-color: #ffffff;


    /* MAIN CONTENT */
    --mcontent-bg: #141922;
    --section-titles-txt-color: #ffffff;
    --section-subtitle-txt-color: #7a7d81;
    --item-titles-txt-color: #ffffff;
    --item-subtitle-txt-color: #7a7d81;

    /* SECTION SELECTOR */
    --section-selector-txt-color: #8e9094;
    --section-selector-hover-color: #ffffff;
    --section-selector-active-color: #caff31;

    /* SIDEBAR */
    --sidebar-bg-color: #000000;
    --sidebar-txt-color: #7a7d81;
    --sidebar-txt-hover-color: #ffffff;
    --sidebar-hover-border-color: #baff32;
    /* FOOTER */
    --footer-bg-color: #282828;


}

.wrapper {
    display: flex;
    height: calc(100vh - 80px);
    width: 100%;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.xs-screen-hidden {}


/* SPACING UTILITY */
.margin-bot-30 {
    margin-bottom: 30px;
}

.margin-bot-20 {
    margin-bottom: 20px;
}


/* MAIN CONTAINER */

.main-container {
    flex-grow: 1;
    background-color: var(--mcontent-bg);
    overflow-y: auto;

}



/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: end;

    height: 80px;
    position: sticky;
    top: 0;

    background-color: #00000033;
}



header .upgrade-button {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: var(--upgrade-button-txt-color);

    border: 1px solid var(--upgrade-button-txt-color);
    border-radius: 30px;

    padding: 10px 30px;
    margin-right: 5px;
}


/* HEADER HOVER EFFECTS */


header .upgrade-button:hover {
    transform: scale(1.1);
}


/* SIDEBAR */

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 250px;
    flex-shrink: 0;
    background-color: var(--sidebar-bg-color);
    z-index: 1;
    color: var(--sidebar-txt-color);

}



/* SIDEBAR LOGO */


.sidebar .logo {
    width: 70%;
    height: 80px;
    line-height: 80px;
    padding: 10px 20px;
    cursor: pointer;
}



/* SIDE MENU */



.side-menu .top-menu-item {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    cursor: pointer;
}


.side-menu .top-menu-icon {

    height: 35px;
    width: 20%;
}

.side-menu .top-menu-icon img {
    height: 80%
}

.side-menu .top-menu-item-txt {
    font-size: 0.8rem;
    font-weight: bold;
}

/* TOP SIDE MENU HOVER EFFECTS */

.side-menu .top-menu-item:hover {
    color: var(--sidebar-txt-hover-color);
    border-left: 3px solid var(--sidebar-hover-border-color);

}

/* PLAYLIST MENU */
.playlist-menu {
    cursor: pointer;
    padding-left: 20px;
}

.playlist-menu h3 {
    font-size: 0.9rem;
    color: var(--item-titles-txt-color);

}

.playlist-menu .new-playlist {
    height: 50px;
    display: flex;
    align-items: center;

}

.playlist-menu .new-playlist figure {
    margin-right: 10px;
}


.playlist-menu a {
    color: var(--sidebar-txt-color);
}

.playlist-menu .playlist-item {
    cursor: pointer;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 0.8rem;
}

/*  PLAYLIST HOVER EFFECT */
.playlist-menu .new-playlist:hover {
    color: var(--sidebar-txt-hover-color);
}

.playlist-menu .playlist-item:hover {
    color: var(--sidebar-txt-hover-color);
}




.sidebar .side-bottom-menu {
    /* ELIMINAMI */
    height: 50px;
    background-color: brown;

}

/* MAIN CONTENT */
.main-content {
    height: 100%;
    background-color: var(--mcontent-bg);
    overflow-y: scroll;
}

.section-selector {
    /* ELIMINAMI */
    height: 60px;
    background-color: #caff31;
}

/* MAIN SECTIONS */
/* ELIMINAMI */
section {

    background-color: red;
    margin-bottom: 30px;
}

section .col {
    width: calc(100% / 6);
    padding: 5px;
    /* ELIMINAMI */
    background-color: aqua;
    border: 1px solid green;
    flex-shrink: 0;

}

section .item {
    /* ELIMINAMI */
    width: 200px;
    height: 200px;
    background-color: #000000;
    margin: 0 auto;
}

/* FOOTER */
footer {
    height: 80px;
    background-color: var(--footer-bg-color);
}

footer .player-bar {
    justify-content: space-between;
}

/* ELIMINAMI */
footer .col {
    width: 30%;
    background-color: coral;
    height: 80px;
}